#btn {
    display: inline-block;
    border: 1px solid red;
    padding: 10px;
}

.task-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100px;
    border: 1px solid #878787;
    background-color: #f7f3f3;
    color: #171717;
    padding: 10px;
    margin-top: 10px;
}


.hidden {
    display: none;
}